<!DOCTYPE html>
<html>
    <head>
        <title>Amhara Unity | Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
        <link rel="stylesheet" type="text/css" href="/blog.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar-container">
            <div class="app-name">Amhara Unity</div>
            <a href="/submit-a-blog" style="text-decoration: none;"><button class="write-btn">Write</button></a>
        </div>

        <div class="content-container">
            <div class="blog-title">
                <h1>Trump appears to smirk as his lawyer grills Cohen on secret recordings</h1>
            </div>
            <div class="blog-poster">
                <span>Submitted by: James Ross</span><br>
                <span>12th January, 2024</span>
            </div>
            <div class="hero-image-wrapper">
                <div class="image">
                    <img src="/images/avatar.jpg" alt="">
                </div>
                <div class="alt-text">alt text</div>
            </div>
            <div class="blurb">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a minima consequatur placeat cumque est nisi, quis esse dicta earum, totam repellendus in non laborum rem voluptatibus porro eaque possimus.</p>
            </div>

            <div class="blog-content">
                <p>
                    
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio similique, nostrum explicabo dignissimos aspernatur quod veritatis, corrupti culpa voluptatum ipsa in sapiente voluptatibus quia facere ad, quas placeat. Eligendi, doloremque.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos quia ratione eligendi pariatur iste sunt molestias eum consequatur! Alias eveniet totam hic fugiat similique officia expedita dolor iure sit cupiditate.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus obcaecati minima vel facere, odit quis fugit, qui illum culpa distinctio voluptates harum fugiat quos provident praesentium repellendus. Dolorem, beatae error.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti facere voluptate labore quae dolores, voluptates nostrum atque doloremque quibusdam. Sint reprehenderit esse, repellendus numquam facilis cumque placeat labore voluptatem sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consectetur ad iusto cum minus sunt ea animi distinctio sit quis, recusandae earum exercitationem consequuntur incidunt. Id, facere. Voluptate, perspiciatis soluta.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe animi dignissimos reprehenderit laborum adipisci reiciendis architecto aliquid impedit quasi at accusantium amet commodi corporis laboriosam culpa, explicabo, sunt soluta.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ullam minus aliquam porro beatae? Molestiae iure repellat laudantium sunt recusandae quaerat sequi explicabo similique repudiandae placeat, voluptas ullam sit. Ducimus.
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quas dolores quasi exercitationem esse eaque possimus quod incidunt, aliquid quam, a eum natus dolore necessitatibus quo harum nulla illo blanditiis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laudantium consequatur ea illum expedita tempora odio accusantium. Deserunt, dolores expedita, ullam quas culpa est quam, rem odio molestiae dolore sapiente!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit sed omnis illo obcaecati, placeat vero, non, dicta esse ducimus temporibus dolore doloremque beatae exercitationem autem atque ex eaque soluta at?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, et libero cum ipsum porro quis iure eum sequi! Qui aliquam fuga eum sit veniam deleniti velit enim natus beatae saepe.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis atque rerum cupiditate ipsam veritatis laboriosam laborum aperiam molestiae id, voluptas soluta iusto illum eveniet excepturi magni distinctio labore voluptatum. Repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime alias nam sunt provident, earum voluptas dolorum commodi laborum cupiditate, ipsam est quis? Non, dicta ratione? Delectus at sapiente deleniti voluptate.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea expedita sunt illum obcaecati eos saepe sequi quam autem repudiandae optio neque maxime soluta laudantium, quasi labore vero architecto et pariatur!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam, ad, assumenda, iusto totam voluptatum rerum enim perferendis ipsum architecto odio voluptatem in beatae eveniet rem dignissimos nostrum inventore obcaecati?
            
            </p>
            </div>
        </div>

        
    </body>
</html>