<!DOCTYPE html>
<html>
    <head>
        <title>Amhara Unity | Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
        <link rel="stylesheet" type="text/css" href="/blog.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar-container">
            <div class="app-name">Amhara Unity</div>
            <button class="write-btn">Write</button>
        </div>

        <div class="content-container">
            <div class="blog-title">
                <h1>Trump appears to smirk as his lawyer grills Cohen on secret recordings</h1>
            </div>
            <div class="blog-poster">
                <span>Submitted by: James Ross</span><br>
                <span>12th January, 2024</span>
            </div>
            <div class="hero-image-wrapper">
                <div class="image">
                    <img src="/images/avatar.jpg" alt="">
                </div>
                <div class="alt-text">alt text</div>
            </div>
            <div class="blurb">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a minima consequatur placeat cumque est nisi, quis esse dicta earum, totam repellendus in non laborum rem voluptatibus porro eaque possimus.</p>
            </div>

            <div class="blog-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consequatur corporis quod vero fugiat nam sunt, a autem laudantium accusamus ut? Eligendi illo molestiae odio aliquam consequuntur nostrum veniam et.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error neque distinctio blanditiis laboriosam earum doloribus, laudantium pariatur voluptas ducimus! Suscipit voluptatum fugiat velit nihil dolor molestias possimus facere, corporis at.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis cum dolorem, a eligendi minus veritatis voluptates animi alias unde. Vel, quae alias. Iste molestias provident placeat distinctio ipsam inventore asperiores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam corrupti fugiat amet nisi sit dolore inventore eligendi assumenda mollitia! Iusto eos praesentium veniam quaerat impedit corrupti ipsam ea nostrum illum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio in eum, velit ab ea quibusdam modi tempora error voluptatibus incidunt maxime soluta dolorum temporibus? Nam beatae in eveniet optio voluptatem.
            </p>
            </div>
        </div>

        
    </body>
</html>