<!DOCTYPE html>
<html>
    <head>
           
                <title>Amhara Unity | <%= branch.name %></title>
              
            
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
        <link rel="stylesheet" type="text/css" href="/branch.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar-container">
            <a href="/" style="text-decoration: none; cursor: pointer;"><div class="app-name">Amhara Unity</div></a>

            <a href="" style="text-decoration: none;"><button class="write-btn">Join</button></a>
        </div>

        <%= branch.name %>


        </div>

        
    </body>
</html>