<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

</head>
<body>
    <p>Hi <%= user.firstName %>,</p>

    <div style="line-height: 2;">
        Please verify your email to activate your account and begin communicating. 
    </div><br><br>
    <button style="text-decoration: none;padding: 1vh 2vw;background-color: #8DECB4;color: white;cursor: pointer;border: 1px solid #8DECB4;border-radius: 20px;"><a href="http://localhost:3000/messaging/<%= user._id %>" style="text-decoration: none;font-weight: bold;">VERIFY EMAIL</a></button><br><br>
    

    <footer>
        <span>Thanks,</span><br>
        <span>The Amhara Unity Team.</span>
    </footer>


</body>
</html>
