<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <link rel="stylesheet" type="text/css" href="/dashboard.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">




    </head>
    <body>
        <div id="loading-wrapper">
            <div id="loading-text">LOADING</div>
            <div id="loading-content"></div>
          </div>

          <div class="dashboard" id="dashboard" style="visibility: hidden;">
            <div class="nav-container">
                <div class="app-name">Amhara Unity</div>
                <div class="username"> Hi there <%= data.firstName %>! </div>
            </div>

            <div class="panels-container" id="panels-container">
                <div class="tabs-group">
                    <div   id="branch-tab" class="branch-tab">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Arizona & New Mexico</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab">
                        <p style="margin-left: 1vw; margin-top: 1vh;">California</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">The Carolinas</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Colorado</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">DC, Maryland, & Virginia</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Florida</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Georgia</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Illinois</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Kansas</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Louisiana</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Michigan</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Nevada</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">New England</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">New York</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Ohio</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Oregon</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Pennsylvania</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Tennessee</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Texas</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div   id="branch-tab" class="branch-tab" onclick="highlightTab()">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Upper Midwest</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    <div  id="branch-tab" class="branch-tab"">
                        <p style="margin-left: 1vw; margin-top: 1vh;">Washington</p>
                        <i class="fa fa-arrow-circle-right" style="font-size: 20px;color: #007F73;margin-left: 1vw; margin-top: 1vh;"></i>
                    </div>
                    
                    

                    
                    <div class="tabs-buttons">
                        <a href="/submit-a-blog/<%= data._id %>" onclick="getBlogSubmit(`${data}`)" style="text-decoration: none;">
                            <button id="blogs-button"  style="background-color: #5AB2FF;color: white;height: 5vh;width: 10vw;border: 1px solid #5AB2FF;border-radius: 5px;cursor: pointer;">View blogs</button>

                        </a>

                        <button style="background-color: #C40C0C;color: white;height: 5vh;width: 10vw;border: 1px solid #C40C0C;border-radius: 5px;cursor: pointer;">Log Out</button>
                    </div>
                    
                </div>
                <div class="messaging-area" id="messaging-area">
                    <div class="text-area">
                        <div class="message-group">
                            <div class="messages-sent" id="messages-sent">
                                <div class="sent-bubble" id="sent-bubble">
                                
                                </div>

                            </div>
                           
                        
                        </div>
                        
                    </div>
                    <div class="messaging-panel">
                        <form action="/send/<%= data._id %>" method="POST" id="form">
                            <input type="text" value="" name="textMessage" placeholder="Say something..." id="sent-text" style="width: 50vw;height:5vh; border-radius: 10px;border: 1px solid #ddd">
                      
                        </form>
                    </div>
                </div>
            </div>
            
          </div>

          
          
          
          
          
          
          
    
          <script src="https://js.pusher.com/7.0/pusher.min.js"></script>

            <script>
            
                const pusher = new Pusher('be75e3dbef6dc92be9b4', {
                    cluster: 'us2'
                });

                const channel = pusher.subscribe('chat');
                channel.bind('message', (data) => {
                    const item = document.createElement('p');
                    const userID = data.userID;
                    const colors = ['red', 'green', '#850F8D', '#FFA62F', '#240750', '#6DC5D1', '#C3FF93', '#A91D3A', '#AD88C6', '#FF204E']
                    const col = colors[Math.floor(Math.random() * colors.length)]
                    item.innerHTML = `
                            <div class="message-content" style="  border-left: 2px solid ${col};">
                            <span style="color: ${col}; font-size: 10px; font-weight: bold;">${data.user.firstName} ${data.user.lastName}</span><br>
                            ${data.message}
                            </div>
                                    
                    `;
                    document.getElementById('sent-bubble').appendChild(item)
                    //console.log(data);
                });

                document.getElementById('form').addEventListener('submit', (e) => {
                    e.preventDefault();
                    const message = document.getElementById('sent-text').value;
                    //console.log("message: ", message)
                    fetch('/send/<%= data._id%>', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({message})
                    })
                    document.getElementById('sent-text').value = ''

                });

            </script>
        

          
          
          <script>


            function getBlogSubmit(id) {
                console.log(id)

            }
            function newMessage() {
                var sendButton = document.getElementById('send-button');

                sendButton.addEventListener('click', function () {
                    var sentText = document.getElementById('sent-text').value;
                    var newText = document.createElement('section');
                    newText.innerHTML = `

                    <div class="sent-bubble">${sentText}</div>

                    `
                    document.getElementById('messages-sent').appendChild(newText);
                    sentText.value = " ";



                });
            }

            
          </script>
          <script>
            function loadHandler(delay) {
                const el = document.getElementById('loading-wrapper');
                if (el) {
                    setTimeout(() => {
                        el.style.display = "none";
                    }, delay);
                }
            }
            function dashboardViewHandler(delay) {
                const el = document.getElementById('dashboard');
                if (el) {
                    setTimeout(() => {
                        el.style.visibility = "visible";
                    }, delay);
                }

            }
            loadHandler(5000);
            dashboardViewHandler(6000)
          </script>
          
    </body>
</html>