<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

</head>
<body>

    Please reset your password <a href="http://localhost:3000/reset-pwd/<%= user._id %>" style="text-decoration: none;font-weight: bold;">here</a>
    

    <footer>
        <span>Thanks,</span><br>
        <span>The Amhara Unity Team.</span>
    </footer>


</body>
</html>
