<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <title>Amhara Unity | Verify Email</title>
</head>
<body>

    <div class="navbar-container">
        <a href="/" style="text-decoration: none; cursor: pointer;"><div class="app-name">Amhara Unity</div></a>

    </div>

   
      
    <div class="content">
        <div class="content-header">
            <h2>Enter new password</h2><br>
            <div class="main-content">

                <form action="/reset-pwd/<%=theUser._id %>" method="POST">
                    <input type="password" name="pwd" placeholder="New Password" style="height: 5vh;width: 30vw;font-family: Clash Display;border: 1px solid #ddd;border-radius: 10px;"><br><br>
                    <input type="password" name="pwd2" placeholder="Confirm New Password" style="height: 5vh;width: 30vw;font-family: Clash Display;border: 1px solid #ddd;border-radius: 10px;"><br><br>

                    <input type="submit" style="cursor: pointer; width: 5vw;height: 5vh;margin-left: 0.5vw;background-color: #1A4D2E;color: white;font-family: Clash Display;border: 1px solid #1A4D2E;border-radius: 10px;">
                </form>

            </div>
        </div>
    </div>
    <style>
        * {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: Geneva, Verdana, sans-serif;

  }

  .user-not-found {
    border: 1px solid red;
    margin: 5vh 20vw;
    height: 5vh;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    color: white;
    padding: 1vh 0;
  }

  .main-content {
    text-align: left;
    border: 1px dotted #1A4D2E;
    margin: 5vh 3vw;
    height: 25vh;
    font-size: 15px;
    padding: 3vh 3vw;
    border-radius: 20px;
    font-family: Clash Display;


  }
  .content-header {
    height: 10vh;
    width: 100%;
    background-color: #1A4D2E;
}

.content-header h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-family: Clash Display;


}

  .content {
    border: 1px solid #1A4D2E;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    height: 50vh;
  }
  .navbar-container {
    border: 1px solid #ddd;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

  }

  .app-name {
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 18px;

    font-family: 'Sofia', sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  }

  @media only screen and (max-width: 767px) {

    .content-header h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: Clash Display;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.main-content {
    text-align: left;
    border: 1px dotted #1A4D2E;
    margin: 5vh 3vw;
    height: 30vh;
    font-size: 12px;
    padding: 3vh 3vw;
    border-radius: 20px;
    font-family: Clash Display;

  }
  }
    </style>
</body>
</html>
