<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" type="text/css" href="/submitBlog.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

  <title>Amhara Unity | Submit a blog</title>
  
        <!-- Include Quill.js CSS -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Include Quill.js JavaScript -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    </head>
    <body>

        <div class="navbar-container">
            <div class="app-name">Amhara Unity</div>
        </div>


        <form action="" class="blog-form">
            <input type="text" placeholder="Title" id="title" name="title" style="width: 64vw;height: 4vh;border: 1px solid #ddd; margin-bottom: 0.5vh;"><br>
            <input type="text" placeholder="A short description here..." id="desc" name="desc" style="width: 64vw;height: 7vh;border: 1px solid #ddd;margin-bottom: 0.5vh;"><br>
            <textarea name="" id="" cols="100" rows="30" style="border: 1px solid #ddd;">Your text here...</textarea><br>
            <input id="submit-btn" class="submit-btn" value="Submit">


        </form>
        


        <script>



        </script>

          <script>
            var quill = new Quill('#editor', {
              theme: 'snow'  // Specify the theme ('snow' or 'bubble')
            });

            

          </script>

        
        
    </body>
</html>