<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" type="text/css" href="/submitBlog.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

  <title>Amhara Unity | Submit an Article </title>
  
        <!-- Include Quill.js CSS -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Include Quill.js JavaScript -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    </head>
    <body> 

        <div class="navbar-container">
          <!--
                    <button class="add-section" id="add-section" style="height: 5vh; margin-top: 2vh;margin-right: 2vw;background-color: #007F73;border: 1px solid #007F73;color: white;border-radius: 10px;cursor: pointer;">Add Paragraph</button>

          -->
          <a href="/" style="text-decoration: none; cursor: pointer;"><div class="app-name">Amhara Unity</div></a>

        </div>

        <div class="submit-notif" id="submit-notif">Your blog is submitted</div>
        <div class="error-notif" id="error-notif">You forgot something</div>


        <input type="text" placeholder="What's your article title?" id="title" name="title" style="width: 100%;height: 4vh;border: 1px solid #ddd; margin-bottom: 2vh;margin-top: 5vh;width: 50vw;"><br><br>
        <section id="editor"></section>
        <button class="submit" id="submit" style="background-color: #007F73; float:right; margin-top: 5vh;border: 1px solid #007F73; color: white;margin-right: 5vw; padding: 1vh 2vw;cursor: pointer;border-radius: 10px;">Submit</button>
        <script>
          const quill = new Quill('#editor', {
              theme: 'snow',
              placeholder: 'Write and format your article here...'
          });
  
          document.getElementById('submit').addEventListener('click', async () => {
              const content = quill.root.innerHTML;
              const title = document.getElementById('title').value;
              const submitNotif = document.getElementById('submit-notif');
              const errorNotif = document.getElementById('error-notif');

              try {
                if (title != '' && content != '') {
                  const response = await fetch('/submit-an-article/<%= data %>', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ "content":content, "title": title })
                  });
                  submitNotif.style.visibility = 'visible';

                }else {
                  errorNotif.style.visibility = 'visible';


                }
                  
              } catch (err) {
                  console.error('Error saving blog:', err);
              }
          });
  
          </script>
        
    </body>
</html>