* {
    box-sizing: border-box;
    margin: 0;
  }

  #loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .navbar-container {
    border: 1px solid #ddd;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

  }

  .app-name {
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 18px;

    font-family: 'Sofia', sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  }

  .write-btn {
    background-color: #007F73;
    color: white;
    height: 5vh;
    width: 10vw;
    border: 1px solid #007F73;
    border-radius: 5px;
    margin-top: 1vh;
    margin-right: 2vw;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

  }

  .content-container {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  }
  .hero-image-wrapper {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 65vh;
    width: 80vw;
  }

  .image {
    width: 80vw;
    height: 62vh;
  }

  .image img {
    width: 80vw;
    height: 62vh;
    object-fit: cover;
  }

  .alt-text {
    text-align: center;
    font-style: italic;
    color: #B5C0D0;
    font-family: Helvetica Neue;

  }

  .blurb {
    border: 1px solid #EEEEEE;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: fit-content;
    background-color: #EEEEEE;
    max-width: 80vw;
    font-family: Helvetica Neue;


  }

  .blurb p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 200%;
    color: #2E4F4F;



  
  }

  .blog-title {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: fit-content;
  }

  .blog-title h1 {
    font-size: 35px;
    font-weight: bold;
  }

  .blog-poster {
    color: #B5C0D0;
    font-size: 12px;
    margin-left: 10vw;
    margin-right: 10vw;


  }

  .blog-content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: fit-content;
    font-family: Helvetica Neue;

  }

  .blog-content p {
    line-height: 230%;
  }

  .added-section {
    height: fit-content;
    margin-top: 3vh;
  }

  .added-section h2 {
    font-size: 18px;
    font-weight: bold;

  }

  .comments-section {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
  }

  .comments-heading, .replies-heading {
    text-align: center;
    border-bottom: 2px dotted #ddd;
    color: #007F73;
    font-size: 12px;

  }

  .comments-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5vh;
  }
  .no-comments-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;

  }

  .no-comments-form button {
    padding: 2vh 2vw;
    color: white;
    background-color: #007F73;
    border: 1px solid #007F73;
    border-radius: 10px;
    cursor: pointer;
  }

  

  .a-comment {
    height: fit-content;
    width: 50vw;
    margin-top: 2vh;
  }

  .the-comment, .comment-time {
    margin-top: 1vh;
    margin-left: 1vw;

  }
  .comment-time {
    font-size: 10px;
    font-style: italic;
    color: #ddd;
  }

  .commenter {
    font-weight: bold;
    margin-left: 1vw;

  }

  footer {
    border-top: 1px solid #0A6847;
    margin-top: 20vh;
    
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 0vw;
  
  }
  
  .contacts {
    margin: 0vh 5vw;
    height: fit-content;
    width: fit-content;
  }
  .contacts h3 {
    color: #0A6847;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    font-family: Clash Display;
  }
  
  .contacts span {
    color: #0C0C0C;
    font-size: 10px;
    text-align: left;
  
  }
  .location {
    margin: 0vh 5vw;
    height: fit-content;
    width: fit-content;
  
  }
  .location h3 {
    color: #0A6847;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    font-family: Clash Display;
  
  
  }
  .location span {
    color: #0C0C0C;
    font-size: 10px;
    text-align: left;
  
  }
  .legals, .share {
    margin: 0vh 5vw;
    height: fit-content;
    width: fit-content;
    
  
  }
  .legals h3 {
    color: #0A6847;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    font-family: Clash Display;
  
  
  }
  .share h3 {
    color: #0A6847;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    font-family: Clash Display;
  
  
  }
  .legals span {
    color: #0C0C0C;
    font-size: 10px;
    text-align: left;
  
  }
  .share span {
    color: #0C0C0C;
    font-size: 10px;
    text-align: left;
  
  }

  .added-section-heading {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }


  /* Mobile Phone Viewpoint */
@media only screen and (max-width: 767px) {
  .write-btn {
    width: 20vw;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    
  }
}
  