* {
    box-sizing: border-box;
    margin: 0;
  }
  .navbar-container {
    border: 1px solid #ddd;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

  }

  .app-name {
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 18px;

    font-family: 'Sofia', sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  }

  .write-btn {
    background-color: #007F73;
    color: white;
    height: 5vh;
    width: 10vw;
    border: 1px solid #007F73;
    border-radius: 5px;
    margin-top: 1vh;
    margin-right: 2vw;
    cursor: pointer;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }
  .hero-image-wrapper {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 65vh;
    width: 80vw;
  }

  .image {
    width: 80vw;
    height: 62vh;
  }

  .image img {
    width: 80vw;
    height: 62vh;
    object-fit: cover;
  }

  .alt-text {
    text-align: center;
    font-style: italic;
    color: #B5C0D0;
    font-family: Helvetica Neue;

  }

  .blurb {
    border: 1px solid #EEEEEE;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: fit-content;
    background-color: #EEEEEE;
    max-width: 80vw;
    font-family: Helvetica Neue;


  }

  .blurb p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 200%;
    color: #2E4F4F;



  
  }

  .blog-title {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: fit-content;
  }

  .blog-title h1 {
    font-size: 35px;
    font-weight: bold;
  }

  .blog-poster {
    color: #B5C0D0;
    font-size: 12px;
    margin-left: 10vw;
    margin-right: 10vw;


  }

  .blog-content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: fit-content;
    font-family: Helvetica Neue;

  }

  .blog-content p {
    line-height: 230%;
  }

  .added-section {
    height: fit-content;
    margin-top: 3vh;
  }

  .added-section h2 {
    font-size: 18px;
    font-weight: bold;

  }

  .branch-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
  }

  .branch-name {
    text-align: center;
  }

  .branch-imp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .leaders {
    border-right: 2px solid #ddd;
    padding-right: 2vw;
    width: 60vw;
    height: fit-content;
  }

  .announs {
    width: 32vw;
    height: fit-content;
  }

  .announs-header {
    font-weight: bold;
    font-size: 14px;
  }

  .announs-date {
    font-size: 10px;
  }

  .announs-detail {
    width: fit-content;
    height: fit-content;
    border-left: 3px solid #5AB2FF;
    padding: 1vh 1vw;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  /* Globals */
body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  color: #241623;
  background: #eef2f4;
}

h1 {
  font-weight: 900;
  font-size: 2.7rem;
  max-width: 20ch;
}

p {
  max-width: 60ch;
}

a {
  color: currentcolor;
}

/* Utilities */
.auto-grid {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
  --flow-space: 2em;
}

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.profile::after {
  background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.profile > * {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

footer {
  border-top: 3px dotted #0A6847;
  margin-top: 20vh;
  
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 0vw;

}

.contacts {
  margin: 0vh 5vw;
  height: fit-content;
  width: fit-content;
}
.contacts h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;
}

.contacts span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.location {
  margin: 0vh 5vw;
  height: fit-content;
  width: fit-content;

}
.location h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;


}
.location span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.legals {
  margin: 0vh 5vw;
  height: fit-content;
  width: fit-content;
  

}
.legals h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;


}
.legals span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}

  /* Mobile Phone Viewpoint */
@media only screen and (max-width: 767px) {
  .write-btn {
    width: 20vw;
    cursor: pointer;
  }

  .branch-imp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .leaders {
    border-right: 2px solid #ddd;
    padding-right: 2vw;
    width: 100vw;
    height: fit-content;
  }

  .announs {
    width: 100vw;
    height: fit-content;
    margin-top: 10vh;
  }

  .announs-header {
    font-weight: bold;
    font-size: 14px;
  }

  .announs-date {
    font-size: 10px;
  }

  .announs-detail {
    width: fit-content;
    height: fit-content;
    border-left: 3px solid #5AB2FF;
    padding: 1vh 1vw;
    margin-top: 5vh;
    margin-left: 2vw;
  }
}
  