
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  #loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  #loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
  }
  
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
  }
  
  #loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  
  #loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  
  #loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
  }
  
  #loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
  }
  
  @-webkit-keyframes loaders {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
  }
  
  #header
  {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
  }
  
  #content
  {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
  }

  .nav-container {
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 8vh;
  }

  .username {
    margin-right: 3vw;
    margin-top: 2vh;
  }
  .app-name {
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 18px;

    font-family: 'Sofia', sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  }

  .panels-container {
    display: flex;
    flex-direction: row;
  }
  .tabs-group {
    border: 1px solid #ddd;
    width: 50vw;
    height: 92vh;
    overflow-x: scroll;
    overscroll-behavior: contain;

  }
  .messaging-area {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50vw;
    height: 92vh;
    display: flex;
    flex-direction: column;

  }
  .branch-tab {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin-top: 0.5vh;
    cursor: pointer;

  }

  .branch-tab:hover {
    background-color: #ddd;
  }
  

  .text-area {
    border: 1px solid #ddd;
    width: 80vw;
    height: 85vh;
    overflow-x: scroll;
    overscroll-behavior: contain;

}
  .messaging-panel {
    width: 50vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
  }

  .tabs-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-right: 3vw;

  }
  .tabs-buttons button {
    margin-left: 1vh;
    cursor: pointer;
  }

  .messages-sent {
    width: 40vw;

  }

  .messages-received {
    width: 40vw;
    height: 100%;
  }

 

.sent-bubble {
  width: fit-content;
  height: fit-content;
  margin-right: 0.2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  
}

.received-bubble {
  width: fit-content;
  height: fit-content;
  float: left;
  margin-right: 0.2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  
}

.message-content {
  height: 100%;
  padding: 1vh 1vw;
  margin-top: 2vh;

}

.message-content-received {
  height: 100%;
  border-left: 2px solid red;
  padding: 1vh 1vw;
  margin-top: 2vh;

}

input[type=text] {
  width: 50vw;
  height:5vh;
  border-radius: 10px;
  border: 1px solid #ddd"


}


@media only screen and (max-width: 767px) {

  * {
    box-sizing: border-box;
    background-color: #F6F5F5;
  }

  .panels-container {
    display: flex;
    flex-direction: row;
  }
  .tabs-group {
    border: 1px solid #ddd;
    width: 50vw;
    height: 92vh;
    overflow-x: scroll;
    overscroll-behavior: contain;
    display: none;

  }

  .messaging-area {
    border-radius: 5px;
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;


  }

  .text-area {
    border: 2px dotted green;
    width: 100%;
    height: 80vh;
    overflow-x: scroll;
    overscroll-behavior: contain;


}
  .messaging-panel {
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
  }

  input[type=text] {

    width: 100vw;
    height:8vh;
    border-radius: 10px;
    border: 1px solid #ddd;

  }
  
}




  