@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

/* Global */
* {
  box-sizing: border-box;
  background-color: #F6F5F5;
}

body {
  margin: 0 auto;

}

.hero-container {
  height: fit-content;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
}

.hero-image-container {
  margin-left: 5vw;
  margin-right: 0.5vw;
  width: 40vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 80vh;

}

.hero-image-container-signup {
  margin-left: 5vw;
  margin-right: 0.5vw;
  width: 40vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 80vh;

}

.image-wrapper {
  width: 40vw;
  height: 80vh;
}
.image-wrapper img {
  width: 40vw;
  height: 80vh;
  object-fit: cover;
}

.image-wrapper-signup {
  width: 40vw;
  height: 80vh;
}
.image-wrapper-signup img {
  width: 40vw;
  height: 80vh;
  object-fit: cover;
}

.hero-form-container {
  border: 1px solid #ddd;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;

}

.hero-form-container-signup {
  border: 1px solid #ddd;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 80vh;

}

.no-posts {
  border: 2px dotted green;
  border-radius: 10px;
  padding: 3vh 3vw;
  color: green;
  font-weight: bold;
  text-align: center;
  }

  .no-posts-container {
    width: 100vw;
    height: fit-content;
    margin: 2vh 2vw;
  }
.form-wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
  width: fit-content;
}

.welcome-text {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: fit-content;
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}


input[type=email], input[type=password], input[type=text] {
  border: 1px solid #ddd;
  margin-left: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 5px;

  
}

input[type=checkbox] {
  border: 1px solid #ddd;
  margin-left: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 5px;

  
}

#age-label {
  margin-left: 5vw;


}
input[type=submit] {
  border: 1px solid #ddd;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 5px;
  background-color:  #41B06E; 
  border: 1px solid #41B06E;
  border-radius: 5px; 
  color: white; 
  cursor: pointer; 
  font-weight: bold;
}

.form-bar {
  border: 1px solid #ddd;
  margin-left: 5vw;
  margin-right: 5vw;
  
}

.signup-container {
  border: 1px solid #ddd;
  margin-left: 5vw;
  margin-right: 5vw;
  height: fit-content;
  margin-top: 15vh;
}

.sign-up {
  font-size: 12px;
  text-align: center;
}

.forgot {
  font-size: 10px;
  text-align: center;
}



.mission-container {

  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  height: 50vh;
  color: #114232;
  background: #F8FAE5;

}

.mission-header {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: fit-content;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  font-size: 30px;
  color: #114232;
  background: #F8FAE5;
  
}

.mission-body {
  color: #114232;
  background: #F8FAE5;
  margin-left: 5vw;
  margin-right: 5vw;
  height: fit-content;
  text-align: center;
  
}

.mission-bar {
  border: 1px solid #114232;
  width: 20vw;
  margin-left: 35vw;
}
.show-container {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-left: 0;
  margin-right: 0;
  height: 70vh;
  
}

.show-image {
  width: 50vw;
  height: 70vh;
  margin-left: 2vw;
}

.show-image img {
  width: 50vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 10px 10px;

}

.show-texts {
  border-radius: 10px 10px;
  width: 50vw;
  height: 70vh;
  color: #12372A;
  border: 2px solid #eee;

}

.show-texts p {
  text-align: center;
  font-size: 30px;


}

.branches-container {
  border: 5px solid #eee;
  width: 32vw;
  height: 50vh;
  margin: 5vh 10vw;
  padding: 50px 10px;
  border-radius: 10px;
  overflow-x: scroll;
  overscroll-behavior: contain;

}
.branch-info {
  text-decoration: none;
  width: 30vw;
  height: 5vh;
  border: 1px solid #D0D4CA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.branch-info span {
  margin: 10px 10px;

}
.branch-item {
  background-color: #DCFFB7;

  
}



#form-bar {
  margin-top: 60px; 
  width: 32vw; 
  border: 1px solid #eee;
}

.scroll-down { 
  animation: bounce 0.5s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
  animation-iteration-count: infinite; 
} 


@keyframes bounce { 
  from { 
      transform: translate3d(0, 0, 0); 
  } 
  to { 
      transform: translate3d(0, 20px, 0); 
  } 
} 
/* Prefix Support */ 

.scroll-down { 
  -webkit-animation-name: bounce; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-direction: alternate; 
  -webkit-animation-timing-function: cubic-bezier( 
  .5, 0.05, 1, .5); 
  -webkit-animation-iteration-count: infinite; 
} 

@-webkit-keyframes bounce { 
  from { 
      -webkit-transform: translate3d(0, 0, 0); 
      transform: translate3d(0, 0, 0); 
  } 
  to { 
      -webkit-transform: translate3d(0, 50px, 0); 
      transform: translate3d(0, 50px, 0); 
  } 
} 




.team-text {
  text-align: center;
  margin: 10vh auto 0 0;
  padding-left: 1vw;
  font-size: 35px;
  color: #12372A;

}

#team-bar {
  border: 1px solid #114232;
  margin: 1vh 45vw 10vh 45vw;
}

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  
  
}

.team-container p {
  text-align: center;
}

.team-member {
  width: 30vw;
  height: 50vh;
  margin: 3vh 1.6vw;
}

.team-member img {
  width: 30vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 10%;

}

.message-board-container {
  margin-top: 20vh;
  height: fit-content;
  margin-left: 2vw;
  margin-right: 2vw;
}

.all-messages {
  border: 1px solid #ddd;
  padding-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 50vh;
  overflow-x: scroll;
  overscroll-behavior: contain;

}


.board-title {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 45px;
  color: #12372A;

}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-left: 2px solid #5AB2FF;
  padding-top:  1vh;
  padding-left: 1vw;
  padding-bottom: 1vh;
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: fit-content;
}

.no-announs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: 2px dotted green;
  border-radius: 20px;
  padding-top:  3vh;
  padding-bottom: 3vh;
  margin-top: 15vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: fit-content;
  text-align: center;
}



.message-image {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
}

.message-image img {
  width: 5vw;
  height: 8vh;
  object-fit: cover;
  border-radius: 20%;
}

.sender-info {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.sender-name {
  width: fit-content;
}
.sender-time {
  width: fit-content;
}
.message {
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
}

.message-title {
  width: fit-content;
  font-size: 18px;

}
.message-blurb {
  width: fit-content;
}

.cta {
  margin-right: 5vw;
  margin-top: 2vh;
}




.guest-section-title {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 45px;
  color: #12372A;
  margin-top: 10vh;

}



.guest-articles-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

}

.guest-article {
  border: 1px solid #DDDDDD;
  background-color: #FFF7F1;
  width: 20vw;
  height: fit-content;
  margin-left: 2vw;
  margin-top: 10vh;
  cursor: pointer;
}

.article-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 3vh;
  justify-content: end;
  background-color: #FFF7F1;

}

.article-poster {
  margin-top: 3vh;
  margin-left: 11vw;
  font-size: 10px;
  float: right;
  background-color: #FFF7F1;
  height: fit-content;
  width: fit-content;

}
.article-blurb {
  margin-top: 3vh;
  height: fit-content;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15.8vw;

  font-size: 10.5px;
  background-color: #FFF7F1;

}
.article-image {
  margin-top: 3vh;
  height: fit-content;
}

.article-image img {
  object-fit: cover;
  height: 20vh;
  width: 15.8vw;
}

.article-title {
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 13px;
  color: #12372A;
  background-color: #FFF7F1;


}


.gradient {
  width: 100vw;
}

#loading {
  visibility: hidden;
}

.toggle-register {
  background-color: #fff;
	width: 30%;
	margin: auto;
	border: 3px solid #2ecc71;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	position: relative;
	top: -310px;

}
#cross{
	position: absolute;
    left: 94%;
    top: 0px;
    color: #cc2e2e;
	font-size: 18;
	font-weight: bold;
	background-color: transparent;
	border: 0
}
h1{margin-top: 0px}


#overlay {
  position: fixed; /* Sit on top of the page content */
  visibility: hidden; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

footer {
  border-top: 3px dotted #0A6847;
  margin-top: 20vh;
  
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 0vw;

}

.contacts {
  margin: 0vh 5vw;
  height: fit-content;
  width: fit-content;
}
.contacts h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;
}

.contacts span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.location {
  margin: 0vh 5vw;
  height: fit-content;
  width: fit-content;

}
.location h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;


}
.location span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.legals {
  margin: 0vh 5vw;
  height: fit-content;
  width: fit-content;
  

}
.legals h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;


}
.legals span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.if-message {
  text-align: center;
  border: 1px solid #41B06E;
  padding: 2vh 0;
  margin: 0 5vw;
  margin-top: 1vh;
  border-radius: 20px;
  background-color: #41B06E;
  color: white;
}





/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  /* section 2 for tablet */
  .show-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20vh;
    margin-left: 0;
    margin-right: 0;
    height: 70vh;
    
  }
  .show-texts {
    border-radius: 10px 10px;
    width: 50vw;
    height: 70vh;
    color: #12372A;
    border: 2px solid #ddd;
    margin-right: 22vw;
  
  }
  .show-image {
    width: 50vw;
    height: 70vh;
    margin-left: 2vw;
    display: none;
  }

  .team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    
    
  }
  
  .team-container p {
    text-align: center;
  }
  
  .team-member {
    width: 30vw;
    height: 20vh;
    margin: 3vh 1.6vw;
  }
  
  .team-member img {
    width: 30vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 10%;
  
  }

  .branches-container {
    border: 5px solid #eee;
    width: 32vw;
    height: 50vh;
    margin: 5vh 10vw;
    padding: 50px 10px;
    border-radius: 10px;
    overflow-x: scroll;
    overscroll-behavior: contain;
  }  

  .guest-articles-container {
    height: fit-content;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  
  }
  
  .guest-article {
    border: 1px solid #DDDDDD;
    background-color: #FFF7F1;
    width: 30vw;
    height: fit-content;
    margin-left: 2vw;
    margin-top: 10vh;
    cursor: pointer;
  }
  
  .article-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
    justify-content: end;
    background-color: #FFF7F1;
  
  }
  
  .article-poster {
    margin-top: 3vh;
    margin-left: 11vw;
    font-size: 10px;
    float: right;
    background-color: #FFF7F1;
    height: fit-content;
    width: fit-content;
  
  }
  .article-blurb {
    margin-top: 3vh;
    height: fit-content;
  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15.8vw;
  
    font-size: 10.5px;
    background-color: #FFF7F1;
  
  }
  .article-image {
    margin-top: 3vh;
    height: fit-content;
  }
  
  .article-image img {
    object-fit: cover;
    height: 20vh;
    width: 26vw;
  }
  
  .article-title {
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    font-size: 13px;
    color: #12372A;
    background-color: #FFF7F1;
  
  
  }



  
  



 


  

  
}

/* Mobile Phone Viewpoint */
@media only screen and (max-width: 767px) {

  * {
    box-sizing: border-box;
    background-color: #F6F5F5;
  }
  .hero-container {
    height: fit-content;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column-reverse;
  }


  .hero-image-container {
    margin-left: 5vw;
    margin-right: 0.5vw;
    width: 40vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 80vh;
    display: none;
  
  }

  .hero-form-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0.5vh 7vw;
  
  }

  .hero-form-container-signup {
    border: 1px solid #ddd;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    padding: 0.5vh 7vw;
  
  }

  .signup-container {
    border: 1px solid #ddd;
    margin-left: 5vw;
    margin-right: 5vw;
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  

  
  /* section 2 for mobile */
  .show-container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    
  }

  input[type=submit] {
    border: 1px solid #ddd;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 5px;
    background-color:  #41B06E; 
    border: 1px solid #41B06E;
    border-radius: 5px; 
    color: white; 
    cursor: pointer; 
    font-weight: bold;
    width: 55vw;
  }

  .hero-image-container-signup {
    margin-left: 5vw;
    margin-right: 0.5vw;
    width: 40vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 80vh;
    display: none;
  
  }

  
  



  .show-image {
    width: 100vw;
    height: 50vh;
  
  
  }

  .show-image img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }
  
  .show-texts {
    width: 100vw;
    height: 120vh;
    color: #12372A;
    font-size: 25px;
    margin-bottom: 5vh;

  }

  #team-bar {
    border: 1px solid #114232;
    margin: 3vh 40vw 10vh 40vw;
    width: 20vw;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    overflow-x: scroll;
    
    
  }
  
  .team-container p {
    text-align: center;
  }
  
  .team-member {
    width: 40vw;
    height: 30vh;
    margin: 3vh 3vw;
    display: inline-block;
  }
  
  .team-member img {
    width: 40vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 10%;
  
  }

  .show-texts p {
    font-size: 30px;
  
  
  }

  .branches-container {
    width: 80vw;
    height: 50vh;
    margin: 1vh 10vw;

  }

  .branch-info {
    font-size: 10px;
    width: 70vw;
    margin-left: 5px;
  }

  .message-board-container {
    margin-top: 20vh;
    height: 100vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  
  .board-title {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 25px;
    color: #12372A;
    font-weight: bolder;
  
  }
  
  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .message-image {
    margin-left: 50vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
  }
  
  .message-image img {
    width: 5vw;
    height: 3vh;
    object-fit: cover;
    border-radius: 20%;
  }
  
  .sender-info {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
  }
  .sender-name {
    width: 20vw;
    font-size: 12px;
  }
  .sender-time {
    width: 40vw;
    font-size: 10px;
  }
  .message {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
  }
  
  .message-title {
    width: 30vw;
    width: 80vw;
    height: 5vh;
    text-wrap: wrap;
    font-size: 15px;

  
  }
  .message-blurb {
    width: 80vw;
    height: 10vh;
    margin-top: 1vh;
    text-wrap: wrap;
    font-size: 13px;
  }
  
  .cta {
    margin-right: 5vw;
    margin-top: 2vh;
    display: none;
  }

  .guest-articles-container {
    height: fit-content;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  
  }
  .guest-article {
    border: 1px solid #DDDDDD;
    background-color: #FFF7F1;
    width: 50vw;
    height: 35vh;
    margin-left: 2vw;
    margin-top: 5vh;
    cursor: pointer;
  }

  .article-image img {
    object-fit: cover;
    height: 10vh;
    width: 45vw;
  }

  .article-blurb {
    margin-top: 1vh;
    height: fit-content;
    width: fit-content;
    font-size: 10px;

    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 45vw;

  
  }


.article-poster {
  margin-top: 1vh;
  margin-left: 25vw;
  font-size: 8px;
  float: right;
  height: fit-content;
  width: fit-content;
}

.article-title {
  height: fit-content;
  width: fit-content;
}

.guest-section-title {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 15px;
  color: #12372A;
  margin-top: 10vh;
  font-weight: bold;

}

footer {
  border-top: 3px dotted #0A6847;
  margin-top: 20vh;
  
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 0vw;

}

.contacts {
  margin: 5vh 35vw;
  height: fit-content;
  width: fit-content;
}
.contacts h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;
}

.contacts span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.location {
  margin: 5vh 35vw;
  height: fit-content;
  width: fit-content;

}
.location h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;


}
.location span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}
.legals {
  margin: 5vh 35vw;
  height: fit-content;
  width: fit-content;
  

}
.legals h3 {
  color: #0A6847;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  font-family: Clash Display;


}
.legals span {
  color: #0C0C0C;
  font-size: 10px;
  text-align: left;

}




}

