@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

/* Global */
* {
  box-sizing: border-box;
  background-color: #F6F5F5;
}

/* desktop */
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    height: 100vh;
  
  }
  
.hero-container span {
  margin: 20px;
}

.form-container {
  border: 1px solid #DDDDDD;
  padding: 50px;
  width: 32vw;
  height: 60vh;
}

.form-container form {
  margin-top: 70px;
}

.signup-container {
  border: 1px solid #DDDDDD;
  width: 32vw;
  height: 8vh;
  margin-top: 2vh;

}
.hero-image-container img {
  width: 30vw;
  height: 70vh;
  object-fit: cover;
}

.welcome-text {
  width: 25vw;
  margin-left: 2vw;
  font-size: 50px;

  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;


}

input[type=email] {
  background-color: #eee; 
  height: 5vh; 
  width: 25vw; 
  border: 1px solid #eee;
  border-radius: 5px;
}

input[type=password] {
  background-color: #eee; 
  height: 5vh; 
  width: 25vw; 
  border: 1px solid #eee;
  border-radius: 5px;
}

input[type=button] {
  height: 4vh;
  width: 25vw; 
  background-color:  #41B06E; 
  border: 1px solid #8DECB4;
  border-radius: 10px; 
  color: white; 
  cursor: pointer; 
  font-weight: bold;
}

.signup-container div {
  margin-top: 20px;
}

.scroll-down {
  margin-top: 12vh;
}

.show-container {
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  margin-left: 0;
  margin-right: 0;
  height: 70vh;
  
}

.show-image img {
  width: 50vw;
  height: 70vh;
  object-fit: cover;

}

.show-texts {
  background-color: #C3FF93;
  width: 50vw;
  color: #1A4D2E;
  text-align: center;
}
.show-texts p {
  background-color: #C3FF93;
  font-size: 30px;
  margin-top: 30vh;
}

hr {
  margin-top: 60px; 
  width: 25vw; 
  border: 1px solid #eee;
}

.scroll-down { 
  animation: bounce 0.5s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
  animation-iteration-count: infinite; 
} 

.mission-container {
  border: 1px solid #F8FAE5;
  height: 50vh;
  text-align: center;
  background-color: #F8FAE5;
}

@keyframes bounce { 
  from { 
      transform: translate3d(0, 0, 0); 
  } 
  to { 
      transform: translate3d(0, 20px, 0); 
  } 
} 
/* Prefix Support */ 

.scroll-down { 
  -webkit-animation-name: bounce; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-direction: alternate; 
  -webkit-animation-timing-function: cubic-bezier( 
  .5, 0.05, 1, .5); 
  -webkit-animation-iteration-count: infinite; 
} 

@-webkit-keyframes bounce { 
  from { 
      -webkit-transform: translate3d(0, 0, 0); 
      transform: translate3d(0, 0, 0); 
  } 
  to { 
      -webkit-transform: translate3d(0, 50px, 0); 
      transform: translate3d(0, 50px, 0); 
  } 
} 
#mission-bar {
  border: 1px solid #114232;
  margin: 0 42vw;
}

.image-only-container {
  width: 100vw;
  height: 50vh;
}
.image-only-container img{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  body {
    overflow-x: hidden;
  }
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    height: 100vh;

  }
  .hero-image-container img {
    width: 40vw;
  }
  .register-form {
    top: 0;
  }
  /* new additions */
  .form-container {
    width: 45vw;
    padding-left: 40px;
  }
  .welcome-text {
    margin-left: 10px;
    width: 40vw;
    font-size: 45px;
    
  }
  input[type=email] {
    background-color: #eee; 
    height: 5vh; 
    width: 35vw; 
    border: 1px solid #eee;
    border-radius: 5px;
  }

  input[type=password] {
    background-color: #eee; 
    height: 5vh; 
    width: 35vw; 
    border: 1px solid #eee;
    border-radius: 5px;
  }
  input[type=button] {
    height: 4vh;
    width: 35vw; 
    background-color:  #41B06E; 
    border: 1px solid #8DECB4;
    border-radius: 10px; 
    color: white; 
    cursor: pointer; 
    font-weight: bold;
  }

  .signup-container {
    border: 1px solid #DDDDDD;
    width: 45vw;
    height: 8vh;
    margin-top: 2vh;
  
  }
  .signup-container div {
    margin-top: 45px;
  }

  /* section 2 for tablet */
  .show-container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 0;
    margin-right: 0;
    height: 70vh;
    
  }
  
  .show-image img {
    width: 50vw;
    height: 70vh;
    object-fit: cover;
  
  }
  
  .show-texts {
    background-color: #C3FF93;
    width: 50vw;
    color: #1A4D2E;
    text-align: center;
  }
  .show-texts p {
    background-color: #C3FF93;
    font-size: 30px;
    margin-top: 30vh;
  }

  .mission-container {
    border: 1px solid #F8FAE5;
    height: 50vh;
    text-align: center;
    background-color: #F8FAE5;
  }


  

  
}

/* Mobile Phone Viewpoint */
@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vh;
    margin-left: 10px;
    height: 100vh;

  
  }
  .hero-image {
    display: none;
  }

  .form-container {
    height: 70vh;
  }
  .form-container, .signup-container {
    width: 85vw;
  }
  hr {
    margin-top: 50px; 
    width: 55vw; 
    border: 2px solid red;
  }

  .scroll-down {
    margin-top: 15px;
    margin-left: 33vw;
  }
 



  /* new additions mobile */
  .welcome-text {
    width: 80vw;
    font-size: 30px;
  }
  input[type=email] {
    background-color: #eee; 
    height: 5vh; 
    width: 55vw; 
    border: 1px solid #eee;
    border-radius: 5px;
  }

  input[type=password] {
    background-color: #eee; 
    height: 5vh; 
    width: 55vw; 
    border: 1px solid #eee;
    border-radius: 5px;
  }
  input[type=button] {
    height: 4vh;
    width: 55vw; 
    background-color:  #41B06E; 
    border: 1px solid #8DECB4;
    border-radius: 10px; 
    color: white; 
    cursor: pointer; 
    font-weight: bold;
  }

  .signup-container {
    margin-top: 20px;
  }

  /* section 2 for mobile */
  .show-container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 0;
    margin-right: 0;
    height: 70vh;
    
  }
  
  .show-image img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
  
  }
  
  .show-texts {
    background-color: #C3FF93;
    height: 50vh;
    width: 100vw;
    color: #1A4D2E;
    text-align: center;
  }
  .show-texts p {
    background-color: #C3FF93;
    font-size: 20px;
    margin-top: 30vh;
  }

  .mission-container {
    border: 1px solid #F8FAE5;
    margin-top: 40vh;
    text-align: center;
    background-color: #F8FAE5;
  }

  #mission-bar {
    border: 1px solid #114232;
    margin: 0 22vw;
  }

  
  

  
}

