* {
    box-sizing: border-box;
    margin: 0;
  }

  #loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .navbar-container {
    border: 1px solid #ddd;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app-name {
    width: fit-content;
    padding: 2vh 2vw;
    height: fit-content;
    word-wrap: nowrap;

    font-size: 18px;

    font-family: 'Sofia', sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  }

  .form-section {
    margin-top: 2vh;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Poppins", sans-serif;


  }
  .blog-form {
    border: 1px solid #ddd;
    padding: 2vh 2vw;
    height: fit-content;
    width: 50vw;
  }

  .submit-notif {
    background-color: #007F73;
    color: white;
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
    visibility: hidden;
  }

  .error-notif {
    background-color: red;
    color: white;
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
    visibility: hidden;


  }

 
